<li><p><img src="http://api.adorable.io/avatars/286/abott{{ id }}@adorable.png" style="width:25px;height:25px;border-radius:25px;"/>&nbsp; Volunteer {{ similar }} has rank No.{{id}} most similarity to you&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
