<div id="input">
  <center><img src="https://s3-us-west-2.amazonaws.com/xinviteer/research/xinviteer-big-logo.jpg" style="width:321px;height:245px;"/><center>
  <br/>
  <form class="form-style-7">
    <input id="img" type="file" class="file" name="image">
    <button type="submit"><img src="http://icons.iconarchive.com/icons/custom-icon-design/mini/32/Search-icon.png" style="width:30px;height:29px;border:0px;"></button>
  </form>
<!--  <input type="file" id="img"/>
  <button class="face"><a>Search</a></button> -->
</div>
<center><h3>Top Similar Volunteer's Face</h3></center>
<center><ul id="faces">
</ul></center>
