<div id="input">
  <center><img src="http://frrole.com/_content/logos/twitter.png" style="width:321px;height:245px;"/><center>
  <br/>
  <textarea id="message"></textarea>
  <button class="tweet">Tweet</button>
</div>
<center><h2>Tweets</h2></center>
<center><ul id="tweets">
</ul></center>
