<h2>Event Analyics</h2>
<div id="input">
  <h3>Data Summary : </h3>
  <select>
  	<option value="location">Location</option>
  	<option value="eventnumber">Event Number</option>
  	<option value="all">All</option>
  </select>
  <br>
  <button class="data">Load</button>
</div>
<ul id="predicts">
</ul>
